{% extends "core/base.html" %}
{% block content %}
<style>label{display: none;}</style>
    {{formset.management_form}}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="container mt-3" align="center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="custom-file mt-2">
                                <div class="input-group">
                                    {{form.cliente}}
                                </div>
                                <div class="input-group-prepend mb-3">
                                    <a class="btn btn-success" type="button" href={% url 'Ccreate' %} target="_blank">+</a>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3">{{form.abono}}</p>
                    </div>
                    <div class="col">
                        {{form.tipo_pago}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.entrega}}
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-primary btn-block" value="Realizar Pedido" />
                    </div>
                </div>
                    <hr>
            </div>
            <div class="col-md-6">
                {{detalle.as_p}}
            </div>
        </div>
        <!--div>
            <button id='add-item' class='btn-success' type="button">Agregar</button>
            <button id='remove-item' class="btn-danger" type="button">Quitar</button>
        </div-->
    </form>
    <br>
{% endblock content %}