{% extends 'core/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}
{% block content %}
<br>
{% if 'Update/ok' in request.GET %}
    <b><p class="text-secondary" align="center">Producto Actualizado Correctamente</p></b>
{% endif %}
<br>
<div class="container col-12">
    {% for  producto in producto_list %}
    <a class="link" href='{% url  'producto' producto.id %}'><style> a.link{text-decoration: none; color: black; border-radius: 20px;} ul.pag{background: white;}</style>
        <div class="card border-dark mb-3 mr-2 ml-2 rounded-lg clearfix" style="max-width: 18rem; display: inline-table; border-radius: 25px;">
          <div class="card-header nombre"><style> div.nombre{min-height: 60px; max-height: 60px; text-align: center; padding-top: 10px;}</style>
            <strong>{{producto.nombre}}</strong>
          </div>
          <div class="card-body text-lit img" align="center"><style> div.img{min-width: 285px; min-height: 155px;}</style>
            <style> img.producto{align-items: center; height: 170px; width: 180px; border-radius: 5px;}</style>
            {% if producto.img %}
                <img src="{{producto.img.url}}" class="producto" alt='Imagen Demostrativa'>
            {% else %}
                <img src="{% static 'producto/img/noimage.jpg' %}" class=" producto">
            {% endif %}
          </div>
          <div class="card-footer bg-transparent border-dark" align="center">
            <strong>
                Q. {{producto.precio|floatformat:2}}</div>
            </strong>
        </div>
    </a>
    {% endfor %}
     <!-- Menú de paginación -->
        {% if is_paginated %}
          <nav aria-label="Page navigation">
            <ul class="pag pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
</div>
{% endblock content %}
